@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir Next Bold";
  src: url("/fonts/AvenirNext-Bold.woff2") format("woff2"); /* update path */
  font-weight: bold;
  font-style: normal;
}
